<div class="node <%= documentable.guide_modifiers.map { |m| "is_#{m}" }.join(' ') %>">
  <%= node_link documentable.guide_name, documentable.guide_path %>
  <% documentable.children.each do |child| %>
    <%= partial 'nodes/documentable', locals: { documentable: child } %>
  <% end %>
</div>
