<div class="node <%= documentable.menu_modifiers.map { |m| "is_#{m}" }.join(' ') %>">
  <% node_link documentable.guide_path do %>
    <span class="node__title">
      <%= documentable.menu_title %>
    </span>

    <% node_meta do %>
      <% if documentable.experimental? %>
        <i class="fa fa-flask node__visibility_icon"></i>
      <% end %>

      <% if !documentable.deprecated? %>
        <% if documentable.class? %>
          <span class="node__tag">class</span>
        <% elsif documentable.config? %>
          <span class="node__tag">config</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% documentable.menu_children.sort.each do |child| %>
    <%= partial 'api/nodes/documentable', locals: { documentable: child } %>
  <% end %>
</div>
