<% if documentables.present? %>
  <div class="node is_group">
    <span class="node__self">
      <%= title %>
    </span>

    <% documentables.each do |feature| %>
      <%= partial 'nodes/documentable', locals: { documentable: feature } %>
    <% end %>
  </div>
<% end %>
