<div class="cookies" up-anchored="right">

  <div class="cookies--text">
    This website uses cookies to improve usability and analyze traffic.
  </div>

  <div class="cookies--actions">
    <span class="cookies--accept action" onclick="document.cookie='cookies_accepted=1; Max-Age=31536000; Path=/'; document.querySelector('.cookies').remove()">
      I accept
    </span>

    <span class="cookies--or">
      or
    </span>

    <%= link_to 'learn more', '/privacy', class: 'cookies--more hyperlink' %>
  </div>

</div>

<script type="text/javascript">
  <!--
    if (document.cookie.indexOf('cookies_accepted') === -1) {
      document.querySelector('.cookies').style.display = 'block';
    }
  //-->
</script>
