<div class="actions">
  <a href="/tutorial" class="action">Get started</a>
  <a href="https://demo.unpoly.com/" class="action is_secondary" target="_blank">Watch a demo</a>
  &nbsp;or <a href="https://triskweline.de/unpoly-rugb/" class="hyperlink" target="_blank">read the long story</a>
</div>
