<div class="prose">

  <h1><%= page_title 'GitHub Dicusssions' %></h1>

  <p>
    The central hub for our community is our <a href="https://github.com/unpoly/unpoly/discussions">GitHub Discussions board</a>.<br>
    If you have a question, idea or want to discuss Unpoly, this is the place to talk!
  </p>

  <p>
    You can <b>watch the repository</b> to receive notifications for new Discussion threads.
    If you want to <b>watch discussions but not issues or pull requests</b>,
    use the <i>Custom</i> setting in the <i>Watch</i> dropdown:
  </p>

  <p>
    <%= image_tag 'images/watch_github_discussions.png', class: 'picture has_border', width: 360, alt: 'Screenshot showing how to watch Discussions only' %>
  </p>
</div>
