<% page_title 'Support' %>

<h1>Support for Unpoly</h1>

<div class="prose">
  <h2 id="community">Community support</h2>

  <p>
    If you have a question about Unpoly, our <a href="https://github.com/unpoly/unpoly/discussions">GitHub Discussions board</a> is a great place to ask.
    <br>
    You can also <a href="/support/discussions" up-layer="new modal" up-size="medium">watch the repository</a> to receive notifications for new Discussion threads.
  </p>

  <p>The Discussions board is run by volunteers. Please be kind and respectful.

  <h2 id="professional">Professional support</h2>

  <p>
    If Unpoly is critical to your business, you can purchase professional support from the people who build it.<br>
    Support is provided by <a href="https://makandra.de/en">makandra</a>, the leading team behind Unpoly’s development.
  </p>
</div>

<div class="service">
  <h3 class="service--title">Priority change requests</h3>
  <div class="service--description">
    <p>
      You can sponsor bug fixes or request new features that address your specific needs.
    </p>

    <p>
      All change requests are reviewed in advance to ensure they align with Unpoly's design.<br>
      You’ll receive a fixed quote with a clear deadline before we begin.
    </p>
  </div>
  <div class="service--pricing-title">
    Pricing
  </div>
  <div class="service--pricing-details">
    Fixed price
  </div>
  <div class="service--action">
    <a href="mailto:support@unpoly.com" class="action">Contact</a>
  </div>
</div>

<div class="service">
  <h3 class="service--title">Consulting &amp; training</h3>
  <div class="service--description">
    <p>
      Book a video call with a senior Unpoly developer. We can help you:
    </p>
    <ul class="bullets">
      <li>Implement requirements with Unpoly.</li>
      <li>Troubleshoot bugs and edge cases.</li>
      <li>On-board new team members.</li>
      <li>Upgrade to a newer version of Unpoly.</li>
    </ul>
  </div>
  <div class="service--pricing-title">
    Pricing
  </div>
  <div class="service--pricing-details">
    €100 / hour
    <div class="service--pricing-fineprint">
      billed hourly, within a pre-approved bugget
    </div>
  </div>
  <div class="service--action">
    <a href="mailto:support@unpoly.com" class="action">Contact</a>
  </div>
</div>


<div class="service">
  <h3 class="service--title">Team chat support</h3>
  <div class="service--description">
    <p>
      <span class="line-on-wide">Get direct access to Unpoly experts in your own</span>
      <span class="line-on-wide">Slack, Discord, or Teams workspace.</span>
    </p>
    <p>
      Ideal for quick questions, implementation advice, and fast clarification.
    </p>
  </div>
  <div class="service--pricing-title">
    Pricing
  </div>
  <div class="service--pricing-details">
    €300 / month
    <div class="service--pricing-fineprint">Includes 3 hours of support time</div>
  </div>
  <div class="service--action">
    <a href="mailto:support@unpoly.com" class="action">Contact</a>
  </div>
</div>

<div class="prose">
  <h3>Questions?</h3>

  <p>
    If you have questions regarding our Unpoly support services, please contact <a href="mailto:support@unpoly.com">support@unpoly.com</a>.</p>
  <p>
    You can also call us at <a href="tel:+49-821-588-66-180">+49 821 588 66 180</a> during business hours (<a href="https://www.timeanddate.com/worldclock/germany/augsburg">CET/CEST</a> time zone).
  </p>

</div>
