<% example.reload if development? %>

<div class="example_embed">

  <div class="example_embed__run">
    <a class="action" href="<%= example.index_path %>" up-target=".screen" up-transition="fade-out/move-from-bottom" up-duration="500">
      <i class="fa fa-play-circle"></i> Run
    </a>
  </div>

  <% if example.explanation.present? %>
    <div class="example_embed__explanation">
      <%= example.highlight markdown(example.explanation) %>
    </div>
  <% end %>
  <% (example.pages + example.javascripts).each do |asset| %>
    <div class="example_embed__title"><%= asset.name %></div>
    <pre class="example_embed__code"><code><%= example.highlight(h asset.text) %></code></pre>
  <% end %>
</div>
