<div class="prose">

  <h2 id="upgrading">Upgrading</h2>

  <p>
    <span class="line-on-wide">
      If you're upgrading from an older Unpoly version you should load <a href="/changes/upgrading"><code>unpoly-migrate.js</code></a>
      to polyfill deprecated APIs.
    </span>
    <span class="line-on-wide">
      Changes handled by <code>unpoly-migrate.js</code> are not considered breaking changes.
    </span>
  </p>

  <p>
    See our <a href="/changes/upgrading">upgrading guide</a> for details.
  </p>

</div>
