---
layout: false
---
<!doctype html>
<html>
  <head>
    <%= partial 'layouts/meta' %>
  </head>
  <body>
    <% guide.reload if development? %>

<pre>
<%- guide.releases[0..4].each do |release| -%>
<%= release.version %>
<%= '=' * release.version.size %>

<%= h urlify_paths_in_markdown(autolink_code_in_markdown(release.markdown)) %>

<%- end -%>
</pre>

  </body>
</html>
