@import compass/reset
@import environment

body
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif
  font-size: 18px
  line-height: 26px
  font-weight: 400
  color: #444
  overflow-y: scroll
  +pretty-scrollbars

a
  text-decoration: none
  outline: 0 // firefox dotted outline

b
  font-weight: 700

i.fa
  font-style: normal !important
