@import ../environment
@import ../typography


html
  // https://makandracards.com/makandra/39473-stretch-an-html-page-to-full-height
  min-height: 100%

body
  background-color: $gray-300
  background: linear-gradient(to bottom, $gray-300, #dfdfdf)
  overflow-y: hidden
  overflow-x: hidden
  margin: 12px

p
  margin: 1em 0

  body >&:first-child
    margin-top: 0

a
  color: $blue-600
  font-weight: bold

.hljs
  padding: 0
  overflow: hidden
  background-color: transparent
