<div class="menu__search">
  <div class="search">
    <input type="text" class="search__input" placeholder="Search …" xautofocus>
    <i class="search__icon fa fa-search"></i>
    <span class="search__reset">&times;</span>
  </div>
</div>
