<% menu do %>

  <div class="menu__title">Changes</div>

  <% guide.releases.each do |release| %>
    <div class="node">
      <%= node_link "Unpoly #{release.version}", "/changes/#{release.version}" %>
    </div>
  <% end %>

<% end %>
