<% menu do %>

<!--  <div class="node">-->
    <%#= node_link 'API', '/api' %>
<!--  </div>-->

  <div class="node">
    <%= node_link 'Tutorial', '/tutorial' %>
  </div>

  <div class="node">
    <%= node_link 'Installation', '/install' %>
  </div>

  <%= partial 'api/all_klass_nodes' %>

  <div class="node">
    <%= node_link 'Changes', '/changes' %>
  </div>

<% end %>
