@import environment


=tint-action($color)
  background-color: $COLOR_MAIN
  +hover
    background-color: $COLOR_MAIN + 20


.action
  border-radius: 2px
  color: white !important
  text-transform: uppercase
  font-weight: bold
  padding: 6px 14px
  display: inline-block
  +tint-action($COLOR_MAIN)
