@import ../../environment

=tint($bg, $fg)
  background-color: $bg
  color: $fg
  .admonition--title
    color: $fg

  //a, a code
  //  $link-color: lighten($fg, 10%)
  //  color: $link-color
  //  text-decoration-color: $link-color + 20

  a,
  a code
    +hyperlink(lighten(saturate($fg, 60%), 10%))

blockquote.admonition
  border: none
  font-style: normal
  border-radius: 2px
  background-color: $gray-200
  padding: $notification-padding

  +hide-last-margins
  +vertical_margin($space-4)

.admonition--title
  font-weight: bold
  margin-bottom: 0.5em
  margin-top: 0
  text-decoration: none !important
  font-size: inherit

  .fa
    margin-right: 0.3em

  & + *
    margin-top: 0 !important

.admonition
  &.-warning, &.-attention, &.-caution
    +tint(lighten(desaturate($red-600, 10%), 36%), darken(desaturate($red-600, 20%), 20%))

  //&.-tip, &.-hint // lightbulb
  //  +tint($gray-200, $gray-700)

  &.-info, &.-tip, &.-hint
    +tint(lighten(desaturate($blue-700, 10%), 47%), darken(desaturate($blue-700, 20%), 16%))

  &.-note
    //+tint($gray-200, $gray-700)
    //+tint(mix($gray-200, $notification-background, 50%), mix($gray-700, $notification-color, 50%))
    //+tint(#66573c, #66573c)
    +tint(darken(saturate(#f8f0e0, 10%), 0%), darken(#665035, 4%))

  &.-important
    +tint(desaturate($notification-background, 15%), desaturate($notification-color, 15%))

