@import ../../environment

.breadcrumb
  display: block
  +type($text-md, $leading-ui)
  +type($text-sm, $leading-ui)
  //font-weight: bold
  color: $gray-600
  margin-bottom: 2px
  +hover
    color: $color-hover
  &:after
    content: ' /'
    color: $gray-500

  +on-wide
    // On wide screens there is enough context in the left sidebar
    display: none
