@import ../../environment

ul.bullets

  +vertical_margin($space-4)

  li
    padding-left: 0.9em
    +vertical_margin($space-1)
    position: relative

    &:before
      content: '▪'
      position: absolute
      height: 100%
      //background-color: rgba(0,0,0,0.1)
      left: 0
      top: 0.1em
      font-weight: bold
      //font-size: 16px
      //color: $gray-600
      color: desaturate($indigo-800, 20%)

  //
  //&.-blue
  //  li
  //    &:before
  //      color: desaturate($blue-600, 20%)
