@import ../../environment

.choice

.choice--item
  display: block
  padding: 10px 18px
  font-weight: bold
  color: $gray-800

  &+.choice--item
    border-top: 1px solid $gray-400

  &:hover
    //background-color: #ffa
    color: $gray-900
    background-color: $gray-200

