@import ../../environment

.choice

.choice--item
  display: block
  padding: 10px 18px
  font-weight: bold
  color: $GRAY_800

  &+.choice--item
    border-top: 1px solid $GRAY_400

  &:hover
    //background-color: #ffa
    color: $GRAY_900
    background-color: $GRAY_200

