@import ../../environment

.code-chip
  display: inline-block
  +type($TEXT_2XS, $LEADING_UI)
  color: $GRAY_800
  border: 1px solid #989898
  padding: 1px 4px
  border-radius: 2px
  background-color: white
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.03)

  user-select: none

  &.-result
    &:before
      content: "🠊"
      margin-right: 0.3em
      color: $GRAY_500
      //line-height: 1em

  //&:hover
  //  transform: scale(1.4)
  //  z-index: 9999999
  //  user-select: text

  //
  //&.-result
  //  &:before
  //    content: "\f105"
  //    //font-size: 0.8em
  //    font-family: FontAwesome
  //    margin-right: 0.3em
  //    color: $GRAY_700
  //    //line-height: 1em
  //
