@import ../../environment

.content-search--hit
  +vertical-margin(22px)
  display: block

.content-search--hit-head
  margin-bottom: 5px
  line-height: 20px

.content-search--hit-title
  +bold

  color: $COLOR_LINK

  +when-unstable
    color: $COLOR_PROTECTED

  +when_deprecated
    text-decoration: line-through

.content-search--hit-visibility
  +when-stable
    display: none

.content-search--hit-text
  +font-size(15px)

