@import ../../environment

.digger

.digger--head
  display: flex

.digger--title, .digger--feature
  &.-match
    color: blue

.digger--title
  +bold
  flex: 1 1 auto
  white-space: normal

.digger--collapser
  flex: 0 0 auto

.digger--feature
  display: none

  .digger.-expanded &
    display: block

  .digger.-filtered &
    display: none

  .digger.-filtered &.-match
    display: block


