@import ../../environment

.documentable-preview
  +vertical-margin(22px)
  padding-left: 60px
  position: relative
  display: block
  //+when_deprecated
  //  opacity: 0.6

.documentable-preview--kind
  position: absolute
  left: 0
  top: 2px
  background-color: $gray-200
  border: 1px solid $gray-500
  color: $gray-600
  border-radius: 3px
  +type($text-2xs, $leading-ui)
  font-weight: bold
  text-align: center
  width: 45px
  +height(43px)

.documentable-preview--signature
  //+monospace-font
  font-weight: bold
  +type($text-md, $leading-ui)

  color: $red-600

  +when-unstable
    color: $gray-600

  +when_deprecated
    text-decoration: line-through
    color: $gray-600

  &:hover
    color: $color-hover !important

.documentable-preview--summary
  margin-top: 2px
  //margin-left: 20px
  p
    margin: 0 !important
    a
      +when-unstable
        +hyperlink($gray-600)

.documentable-preview--visibility
  display: inline-block
  margin-left: 5px

  +when-stable
    display: none
