@import ../../environment

$spacing: $SPACE_S
$padding: 15px 16px
$roundness: 5px
$border-color: $GRAY_400

.essential-features
  display: flex
  flex-wrap: wrap
  gap: $spacing

.essential-feature
  flex: 0 0 275px
  border: 1px solid $border-color
  padding: $padding
  border-radius: $roundness
  +subtle-shadow
  position: relative

.essential-feature--signature
  font-weight: bold
  color: $COLOR_MAIN
  +type($TEXT_M, $LEADING_UI)
  //.essential-feature.-code &
  //  +monospace-font

//.essential-feature--kind
//  position: absolute
//  top: -1px
//  right: -1px
//  background-color: $GRAY_500
//  color: white
//  padding: 5px 7px 4px 7px
//  border-radius: 0 $roundness 0 $roundness
//  +type($TEXT_XS, $LEADING_UI)
//  border: 1px solid $border-color
//  font-weight: bold
//  box-shadow: inset 5px -5px 10px -3px rgba(0, 0, 0, 0.15)

.essential-feature--kind
  position: absolute
  top: -1px
  right: -1px
  background-color: $GRAY_200
  color: $GRAY_600
  padding: 5px 7px 4px 7px
  border-radius: 0 $roundness 0 $roundness
  +type($TEXT_3XS, $LEADING_UI)
  border: 1px solid $border-color
  font-weight: bold
  //box-shadow: inset 5px -5px 10px -3px rgba(0, 0, 0, 0.15)

.essential-feature--summary
  margin-top: 8px
  p
    margin: 0 !important


//
//.essential-features
//  margin: 0 -$spacing
//  +clearfix
//
//.essential-feature
//  margin: $spacing
//  float: left
//  border: 1px solid black
//  width: calc(33% - 2 * #{$spacing})

