@import ../../environment

$param-spacing: $BLOCK_SPACING * 1.1
$param-border: 1px solid rgba(0, 0, 0, 0.15)


.feature

  &+.feature
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid #ccc

.feature--tags
  display: inline-block
  white-space: nowrap

.feature--prose
  +vertical-margin(25px)


.feature--param-section
  //border: 1px solid rgba(0, 0, 0, 0.2)
  //padding: 15px 15px
  //border-radius: 3px
  //+hide-first-margins
  //+hide-last-margins
  //+vertical-margin(20px)

.feature--param-section-title
  //border-bottom: 1px solid currentColor
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
  padding-bottom: 5px

.feature--param
  +vertical-margin($param-spacing)
  //+vertical-padding($param-spacing)
  //border-top: $param-border
  //border-bottom: $param-border

  //margin-top: $param-spacing

  //&+.feature--param
  //  margin-top: $param-spacing

  &+.feature--param
    //  //border-top: 0
    border-top: $param-border
    padding-top: $param-spacing

  //&.hash-target
  //  // When directly jumping to the param, highlight it.
  //  background-color: $COLOR_MARK

.feature--param-info
  // For the response, the headline is in there
  +hide-first-margins

.feature--param-signature
  +monospace-font
  font-size: $FONT_SIZE
  +bold
  color: #a0a0a0

.feature--param-name
  white-space: nowrap
  color: #545454

.feature--param-default
  //white-space: nowrap

.feature--param-experimental-icon
  color: #707070

.feature--param-types
  .feature--param:not(.-response) .feature--param-details.-without-prose &
      margin-top: -2px // vertically align with param name

  .feature--param-details.-with-prose &
    margin-top: 16px

.feature--param-prose

  //margin-top: 4px
  //margin-left: 20px

  .prose
    +hide-first-margins
    +hide-last-margins

    table
      th, td
        +horizontal-padding(0.5em)
        +vertical-padding(0.3em)

    //pre
    //  code
    //    white-space: pre-wrap

.feature--param-optionality
  float: right
  margin-bottom: 15px
  margin-left: 15px

  &+p
    margin-top: 0 !important



$table-breakpoint: 1000px

+narrower_than($table-breakpoint)
  .feature--param-info
    display: flex
    gap: 15px
    flex-wrap: wrap
    margin-bottom: 12px

  .feature--param-details
    margin-left: 30px

  .feature--param-optionality
    display: none

+wider_than($table-breakpoint)
  .feature--param
    display: flex
    gap: 15px

    //&.-response
    //  margin-top: -45px

  .feature--param-info
    flex: 0 0 335px

  .feature--param-details
    flex: 1 1 0
    // Prevent code blocks from causing the item to overflow horizontally.
    // We want to show horizontal scroll bars instead (from the +code-block
    // function).
    min-width: 0

