@import ../../environment

$param-spacing: $BLOCK_SPACING * 1.1
$param-border: 1px solid rgba(0, 0, 0, 0.15)


.feature

  &+.feature
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid #ccc

.feature__tags
  display: inline-block
  white-space: nowrap

.feature__prose
  +vertical-margin(25px)


.feature__param_section
  //border: 1px solid rgba(0, 0, 0, 0.2)
  //padding: 15px 15px
  //border-radius: 3px
  //+hide-first-margins
  //+hide-last-margins
  //+vertical-margin(20px)

.feature__param_section_title
  //border-bottom: 1px solid currentColor
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
  padding-bottom: 5px

.feature__param
  +vertical-margin($param-spacing)
  //+vertical-padding($param-spacing)
  //border-top: $param-border
  //border-bottom: $param-border

  //margin-top: $param-spacing

  //&+.feature__param
  //  margin-top: $param-spacing

  &+.feature__param
    //  //border-top: 0
    border-top: $param-border
    padding-top: $param-spacing

  &:target, &.hash-target
    // When directly jumping to the param, highlight it.
    // Unfortunately that does not work after the initial page load,
    // due to a bug in Webkit and Firefox :(
    background-color: $COLOR_MARK

.feature__param_info

.feature__param_name
  +monospace-font
  font-size: $FONT_SIZE
  +bold
  color: #a0a0a0
  em
    color: #545454


.feature__param_experimental_icon
  color: #707070

.feature__param_types
  margin-top: 16px

.feature__param_prose

  //margin-top: 4px
  //margin-left: 20px

  .prose
    +hide-first-margins
    +hide-last-margins

    table
      th, td
        +horizontal-padding(0.5em)
        +vertical-padding(0.3em)


.feature__param_optionality
  float: right
  margin-bottom: 15px
  margin-left: 15px

  &+p
    margin-top: 0 !important



$table-breakpoint: 1000px

+narrower_than($table-breakpoint)
  .feature__param_info
    display: flex
    gap: 15px
    flex-wrap: wrap

  .feature__param_details
    margin-left: 30px

  .feature__param_optionality
    display: none

+wider_than($table-breakpoint)
  .feature__param
    display: flex

  .feature__param_info
    flex: 0 0 350px

  .feature__param_details
    flex: 1 1 0

