@import ../../environment

.feature

  &+.feature
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid #ccc

.feature__tags
  display: inline-block
  white-space: nowrap

.feature__param
  +vertical-margin($BLOCK_SPACING * 0.75)

  &:target, &.hash-target
    // When directly jumping to the param, highlight it.
    // Unfortunately that does not work after the initial page load,
    // due to a bug in Webkit and Firefox :(
    background-color: $COLOR_MARK

.feature__prose
  +vertical-margin(25px)

.feature__param_name
  +monospace-font
  font-size: $FONT_SIZE
  +bold
  color: #707070

.feature__param_type

.feature__param_prose
  //margin-top: 4px
  margin-left: 20px

