@import ../../environment

.hero

.hero--claim
  margin-bottom: 20px
  +font-size(36px, 3px)
  +bold

.hero--claim-line
  +wider-than(1400px)
    display: block

.hero--explanation
  +font-size(20px, 3px)
  margin-bottom: 20px

.hero--explanation-line
  +wider-than(1400px)
    display: block

.hero--notification
  float: right
  margin-top: 0 !important
  margin-left: 25px
  margin-bottom: 25px
  width: 195px

  +narrower_than(700px)
    display: none

.hero--no-dependencies
  +bold
