@import ../../environment

.hyperlink
  +hyperlink

  &.-gray
    +hyperlink($gray-600)

  &.-secondary
    +hyperlink($indigo-800)

//  +tint_hyperlink($red-600)

  +hover
    text-shadow: none
    background-color: #fe9
    +tint_hyperlink($red-600)

  //&.-blue
  //  +tint_hyperlink($blue-600)
  //
  //
  &.-white
    +tint_hyperlink($gray-200)
    +hover
      background-color: transparent
      +tint_hyperlink($yellow-600)
  //
  //
  //&.-light-gray
  //  +tint_hyperlink($gray-400)
  //  +hover
  //    background-color: transparent
  //    +tint_hyperlink($yellow-600)
  //
  //&.-no-decoration
  //  border-bottom: none
