@import ../../environment

.inset-title
  +type($TEXT_M, $LEADING_UI)
  text-transform: uppercase
  display: flex
  align-items: center

.inset-title--text
  flex: 0 0 auto
  margin-right: 6px

.inset-title--divider
  background-color: $GRAY_500
  height: 2px
  flex: 1 1 0



