@import ../../environment

.inset-title
  +type($text-md, $leading-ui)
  text-transform: uppercase
  display: flex
  align-items: center

.inset-title--text
  flex: 0 0 auto
  margin-right: 6px

.inset-title--divider
  background-color: $gray-500
  height: 2px
  flex: 1 1 0



