@import ../../environment

.interface-preview
  +card
  position: relative

.interface-preview--head
  margin: 0
  +bold

  &, a
    text-decoration: none
    color: $COLOR_TEXT

.interface-preview--name
  +monospace-font
  color: #777
  margin-left: 0px
  &:before
    content: '('
    color: #bbb
  &:after
    content: ')'
    color: #bbb

.interface-preview--topics
  +hide_last-margins

