@import ../../environment

.interface_preview
  +card
  position: relative

.interface_preview__head
  margin: 0
  +bold

  &, a
    text-decoration: none
    color: $COLOR_TEXT

.interface_preview__name
  +monospace-font
  color: #777
  margin-left: 0px
  &:before
    content: '('
    color: #bbb
  &:after
    content: ')'
    color: #bbb

.interface_preview__topics
  +hide_last-margins

