@import ../../environment

$spacing: $BLOCK_SPACING * 0.8
$roundness: 5px
$border-color: #b8b8b8
$padding: 15px 17px


.interface_preview
  border: 1px solid $border-color
  padding: $padding
  border-radius: $roundness
  +subtle-shadow
  position: relative
  +vertical_margin($spacing)

.interface_preview__head
  margin: 0
  +bold

  &, a
    text-decoration: none
    color: $COLOR_TEXT

.interface_preview__name
  +monospace-font
  color: #777
  margin-left: 0px
  &:before
    content: '('
    color: #bbb
  &:after
    content: ')'
    color: #bbb

.interface_preview__topics
  +hide_last-margins

