@import environment

.menu

.menu__item
  display: block
  +font-size(18px)
  color: $COLOR_MAIN

  &:not(:last-child)
    margin-bottom: 10px

  &:hover
    color: $COLOR_ALIZARIN
    
  &.up-current, &.up-active
    font-weight: 700

  &.is_for_narrow
    display: none

    +narrow-screen
      display: block

//+narrower-than(800px)
//  .menu
//    .menu__item:not(.up-current)
//      display: none
