@import ../../environment

.menu
  //width: 100%
  //overflow: hidden

  &.-placeholder
    visibility: hidden

.menu--search
  margin-bottom: 20px

.menu--title
  text-transform: uppercase
  +bold
  margin-bottom: 10px
  color: #888

up-drawer .menu
  max-width: $LEFT_WIDTH
  .menu--search
    margin-right: 20px // leave space for close button
