@import ../../environment

=highlighted
  &.up-active, &.up-current
    @content

$meta-breakpoint: 1350px

.node
  position: relative
  +font-size($FONT_SIZE + 1px, 4px)
  +bold

.node > .node
  display: none
  +font-size($FONT_SIZE, 3.5px)
  font-weight: normal
  margin-bottom: 0

.node:not(.-group) > .node
  margin-left: 20px

.node.-group
  $color: $COLOR_TERTIARY

  margin-bottom: 4px
  margin-top: 4px
  position: relative

  &:before
    content: ''
    position: absolute
    left: 0
    top: 12px
    right: 0
    height: 1px
    background-color: lighten($color, 30%)
    z-index: 0

  > .node--self
    +font-size($FONT_SIZE - 3px, 3px)
    color: $color
    text-transform: uppercase
    background-color: white
    position: relative
    padding-right: 5px
    z-index: 1
    display: inline-block
    margin-bottom: 2px
    +bold

  //+ .node
  //  margin-top: 4px


//.node:not(.-group).-expanded > .node
//  display: block !important
//
//.node.-match > .node.-match
//  display: block
//
//.node.-group:not(.-match) > .node
//  display: block

.node:not(.-match).-expanded > .node,
.node.-match.-force-toggled.-expanded > .node
  display: block

.node.-match > .node.-match
  display: block

.node--self
  color: #888
  display: block
  align-items: center
  display: flex
  gap: 5px

  //.node:not(.-group) > &
  //  padding-left: 1.1em

  // Truncate long feature names like up.link.makeFollowable
  // +truncate_text

  //.node.-interface > &
  //  // Allow the root nodes to wrap since they are English sentences
  //  // like "Updating fragments from JavaScript"
  //  white-space: normal


a.node--self
  --node-color: #{desaturate($COLOR_SECONDARY, 5%)}

  .node.-deprecated &
    --node-color: #{$COLOR_PROTECTED}

  //.node.-experimental &
  //

  .node.-deprecated &
    text-decoration: line-through

  color: var(--node-color)

  +hover
    color: $COLOR_HOVER

  .node > .node &,
  .node:not(:has(.node)) &
    +highlighted
      background-color: var(--node-color)
      color: white
      +hover
        background-color: $COLOR_HOVER
        color: white

.node--collapser
  font-size: 0.8em
  cursor: pointer
  margin-top: 2px
  //position: absolute
  //top: 0.5em
  //left: 0
  //display: block
  //width: 1em

.node--meta
  white-space: nowrap
  display: flex
  gap: 5px
  align-items: center
  margin-right: 4px

  +narrower-than($meta-breakpoint)
    display: none

.node--tag
  display: inline-block
  +font-size(11px)
  +bold
  text-transform: uppercase
  vertical-align: middle
  padding: 1px 3px 0 3px
  border-radius: 4px
  color: #454966
  border: 1px solid #656986
  margin-top: -1px
  .node--self.up-active &, .node--self.up-current &
    color: white
    border-color: white

.node--visibility-icon
  font-size: 12px
  display: inline-block
  margin-left: 5px
  margin-top: -1px
  text-decoration: none

.node--title
  flex: 1 1 auto
  white-space: nowrap
  overflow-x: hidden
  text-overflow: ellipsis

  &:has(+.node--dots)
    flex: 0 0 auto

.node--dots
  flex: 1 1 0
  border-top: 1px dotted #bbb
  margin-top: 10px

  +narrower-than($meta-breakpoint)
    display: none

.node--commit-count
  color: #555
  //margin-left: 5px
  //display: inline-block
  font-size: 13px
  font-weight: normal

  .fa
    color: #999

  //border-radius: 10px
  //border: 1px solid #bbb
  //+font-size(13px)
  //
  //padding: 2px 5px 1px 5px
  //+font-size(12px)


.node mark
  color: $COLOR_ALIZARIN

.node.-query
  display: none
  &.-match
    display: block
