@import ../../environment

.notification
  background-color: $notification-background
  padding: $notification-padding
  color: $notification-color
  border-radius: 3px
  +vertical-margin(25px)

  +hide-first-margins
  +hide-last-margins

  p
    +vertical-margin(5px)

  a
    //xtext-decoration: underline
    //border-bottom: 1px solid $red-600
    //color: $red-600
    +hyperlink($red-600)

.notification--subline
  +type($text-sm, $leading-ui)
