@import ../../environment

.picture
  display: block
  +vertical-margin($SPACE_S)
  +border-box
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1)

  &.-border
    border: 1px solid $GRAY_500

  &.-padding
    padding: clamp(#{$SPACE_XS}, 4vw, #{$SPACE_S})

  &.-floats-right
    float: right

  //// Helps the image fit into this site's color scheme
  //&.-sepia
  //  filter: sepia(0.15)
