@import ../../environment

.social
  text-transform: uppercase
  font-weight: bold

  color: $GRAY_600
  margin-bottom: 19px
  +clear_after


  i
    margin-right: 6px
    color: $GRAY_500
    display: inline-block
    vertical-align: middle
    font-size: 18px

  span
    +type($TEXT_S, $LEADING_UI)
    display: inline-block
    vertical-align: middle
    //text-decoration: underline

  a
    white-space: nowrap
    color: $COLOR_ALIZARIN
    color: $GRAY_500
    margin-right: 12px
    +hover
      color: $COLOR_ORANGE
      i
        color: $COLOR_ALIZARIN
