@import ../../environment

.social
  text-transform: uppercase
  font-weight: bold

  color: $gray-600
  margin-bottom: 19px
  +clear_after


  i
    margin-right: 6px
    color: $gray-500
    display: inline-block
    vertical-align: middle
    font-size: 18px

  span
    +type($text-sm, $leading-ui)
    display: inline-block
    vertical-align: middle
    //text-decoration: underline

  a
    white-space: nowrap
    color: $red-600
    color: $gray-500
    margin-right: 12px
    +hover
      color: $orange-600
      i
        color: $red-600
