@import ../../environment

.tag
  display: inline-block
  +default-font
  +font-size(11px)
  +bold
  text-transform: uppercase
  color: white
  vertical-align: middle
  padding: 2px 5px
  --color: #888
  background-color: var(--color)
  color: white
  border-radius: 2px

  &.is_ghost
    padding: 1px 4px
    background-color: transparent
    color: var(--color)
    border: 1px solid var(--color)

  &.is_gray
    // base styles are already gray

  &.is_gray_blue
    --color: lighten(desaturate($COLOR_SECONDARY, 10%), 10%)

  &.is_light_gray
    --color: #aaa

  &.is_red
    --color: #{$COLOR_ALIZARIN}

  &.is_teal
    --color: #{$COLOR_GREEN_SEA}

  &.is_internal,
  &.is_deprecated,
  &.is_experimental
    --color: #{$COLOR_PROTECTED}

  //&.is_large
  //  +font-size(14px)
  //  padding: 2px 6px 1px 6px
  //  +bold
