@import ../../environment

.tag
  display: inline-block
  +default-font
  +type($TEXT_3XS, $LEADING_UI)
  font-weight: bold
  text-transform: uppercase
  color: white
  vertical-align: middle
  padding: 2px 5px
  --color: #{$GRAY_600}
  background-color: var(--color)
  color: white
  border-radius: 2px

  &.-ghost
    padding: 1px 4px
    background-color: transparent
    color: var(--color)
    border: 1px solid var(--color)

  &.-gray
    // base styles are already gray

  &.-gray-blue
    --color: lighten(desaturate($COLOR_SECONDARY, 10%), 10%)

  &.-light-gray
    --color: #{$GRAY_500}
  &.-red
    --color: #{$COLOR_ALIZARIN}

  &.-teal
    --color: #{$COLOR_GREEN_SEA}

  &.-internal,
  &.-deprecated,
  &.-experimental
    --color: #{$COLOR_PROTECTED}

  //&.-large
  //  +type($TEXT_XS, $LEADING_UI)
  //  padding: 2px 6px 1px 6px
  //  font-weight: bold
