@import ../../environment

$section_spacing: 15px

=underline-section($color)
  box-shadow: inset 0 -2px 0 $color

.top-nav
  font-size: 20px
  +bold
  +uppercase
  position: relative
  width: 100%
  +clearfix
  display: flex
  align-items: center
  gap: $section_spacing

.top-nav--section
  color: white

  // Uppercase letters have no descendants, so push the links a little down
  // to center them vertically.
  display: inline-block
  margin-top: 1px

  //+ .top-nav--section
  //  margin-left: $section_spacing

  &.up-current
    +underline-section(rgba(255, 255, 255, 0.4))

  &:focus, &:hover
    +underline-section(rgba(255, 255, 255, 0.8))

  +on_narrow
    display: none

  &.-support
    background-color: white
    border-radius: 5px
    padding: 3px 5px 1px 5px
    margin-top: -1px
    color: $COLOR_MAIN

//.top-nav--version
//  opacity: 0.5

.top-nav--right
  margin-left: auto

  +narrower_than(1000px)
    display: none

.-social
  opacity: 0.75

  +narrower_than(1200px)
    .top-nav--label
      display: none

.-hamburger
  display: none
  margin-left: auto

  +on_narrow
    display: inline
