<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with Bower' %>
</h1>

<div class="prose">

  <p>
    Install the <a href="http://bower.io/">Bower</a> package:
  </p>

  <pre><code class="nohighlight">bower install unpoly --save</code></pre>

  <p>
    This will download the <%= hyperlink 'library files', '/install#files' %> to
    <code>bower_components/unpoly/dist</code>.
  </p>

  <%= partial 'star_prompt' %>

</div>
