<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with Elixir' %>
</h1>

<div class="prose">

  <p>
    The hex package <a href="https://github.com/webstronauts/ex_unpoly/"><code>ex_unpoly</code></a> implements the <a href="https://unpoly.com/up.protocol">optional server protocol</a> in the form of a Plug adapter. It can be used with Elixir web frameworks like Phoenix, Dynamo or Sugar.
  </p>

  <p>
    If your Elixir app uses a bundler like esbuild or Webpack, install the <a href="https://unpoly.com/install/npm"><code>unpoly</code> npm package</a> to get Unpoly's frontend files.
  </p>

  <p>
    If you don't want to use npm you can <a href="/install/cdn">load Unpoly from CDN</a> or <a href="/install/download">download Unpoly directly</a>.
  </p>

</div>
