<% menu do %>
  <div class="menu__title">Installation</div>

  <div class="menu__nodes">
    <div class="node"><%= node_link 'Overview', '/install' %></div>
    <div class="node"><%= node_link 'Server bindings', '/install/server-bindings' %></div>
    <div class="node"><%= node_link 'Bootstrap integration', '/install/bootstrap' %></div>
    <div class="node"><%= node_link 'Legacy browsers', '/install/legacy-browsers' %></div>
  </div>
<% end %>
