<div class="prose">

  <h1>Install with npm</h1>

  <p>
    Install the <a href="https://www.npmjs.com/package/unpoly">npm package</a> like this:
  </p>

  <pre><code class="nohighlight">npm install unpoly --save</code></pre>

  <p>
    This will download the files to
    <code>node_modules/unpoly/dist</code>.
  </p>

  <p>
    Now include the <%= content_hyperlink 'CSS and Javascript files', '/install#files' %>
    in your asset bundle.
  </p>

  <%= partial 'star_prompt' %>

</div>
