<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with PHP' %>
</h1>

<div class="prose">

  <p>
    The Composer package <a href="https://github.com/webstronauts/php-unpoly"><code>webstronauts/unpoly</code></a> implements the <a href="https://unpoly.com/up.protocol">optional server protocol</a> in the form of a Stack middleware. It can be used with PHP web frameworks like Laravel or Symfony.
  </p>

  <p>
    If your PHP app uses an asset bundler like Webpack (or Laravel Mix), install the <a href="https://unpoly.com/install/npm"><code>unpoly</code> npm package</a> to get Unpoly's frontend files.
  </p>

  <p>
    If you don't want to use npm you can <a href="/install/cdn">load Unpoly from CDN</a> or <a href="/install/download">download Unpoly directly</a>.
  </p>

</div>
