<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with Python' %>
</h1>

<div class="prose">

  <p>
    There are several PiP packages that implement the <a href="https://unpoly.com/up.protocol">optional server protocol</a> for the Python-based web applications:
  </p>

  <ul>
    <li><a href="https://gitlab.com/rocketduck/python-unpoly"><code>unpoly</code></a></li>
    <li><a href="https://github.com/jwaschkau/django-unpoly"><code>django-unpoly</code></a></li>
    <li><a href="https://github.com/thinkwelltwd/unpoly_django"><code>unpoly_django</code></a></li>
  </ul>

  <p>
    If your app uses a bundler like Webpack, install the <a href="https://unpoly.com/install/npm"><code>unpoly</code> npm package</a> to get Unpoly's frontend files.
  </p>

  <p>
    If you don't want to use npm you can <a href="/install/cdn">load Unpoly from CDN</a> or <a href="/install/download">download Unpoly directly</a>.
  </p>

</div>
