<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with Rack' %>
</h1>

<div class="prose">

  <p>
    For a non-Rails Rack framework like
    we recommend getting Unpoly from <a href="/install/npm">npm</a> or from a <a href="/install/cdn">CDN</a>.
  </p>

  <p>
    If you need the <a href="/up.protocol">optional server protocol</a> in your Elixir app, the hex package
    <a href="https://github.com/webstronauts/ex_unpoly/">ex_unpoly</a> provides a Plug adapter.
  </p>

</div>
