<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with Ruby' %>
</h1>

<div class="prose">

  <h2 id="ruby-on-rails">Ruby on Rails</h2>

  <p>
    The <a href="https://github.com/unpoly/unpoly-rails"><code>unpoly-rails</code></a> gem implements the <a href="https://unpoly.com/up.protocol">optional server protocol</a> for Ruby on Rails applications.
  </p>

  <p>
    If you're using the <b>Asset Pipeline</b>, <code>unpoly-rails</code> also provides Unpoly's frontend files.
  </p>

  <p>
    If you're using <b>Webpacker</b>, install the <a href="https://unpoly.com/install/npm"><code>unpoly</code> npm package</a> to get Unpoly's frontend files.
  </p>


  <h2 id="roda">Roda</h2>

  <p>
    The <a href="https://github.com/adam12/roda-unpoly"><code>roda-unpoly</code></a> gem implements the <a href="https://unpoly.com/up.protocol">optional server protocol</a> for Roda applications.
  </p>

  <p>
    If your Roda app uses an asset bundler like Webpack, install the <a href="https://unpoly.com/install/npm"><code>unpoly</code> npm package</a> to get Unpoly's frontend files.
  </p>

  <p>
    If you don't want to use npm you can <a href="/install/cdn">load Unpoly from CDN</a> or <a href="/install/download">download Unpoly directly</a>.
  </p>

  <h2 id="rack">Rack</h2>

  <p>
    The <a href="https://github.com/adam12/rack-unpoly"><code>rack-unpoly</code></a> gem implements the <a href="https://unpoly.com/up.protocol">optional server protocol</a> for Rack applications.
  </p>

  <p>
    If your Rack app uses an asset bundler like Webpack, install the <a href="https://unpoly.com/install/npm"><code>unpoly</code> npm package</a> to get Unpoly's frontend files.
  </p>

  <p>
    If you don't want to use npm you can <a href="/install/cdn">load Unpoly from CDN</a> or <a href="/install/download">download Unpoly directly</a>.
  </p>

  <%= partial 'star_prompt' %>

</div>
