<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with Ruby' %>
</h1>

<div class="prose">

  <h2>Ruby on Rails</h2>

  <p>
    The <code>unpoly-rails</code> gem makes the Unpoly's JavaScript and CSS sources
    available to the Rails asset pipeline. It also includes
    <a href="http://www.rubydoc.info/github/unpoly/unpoly/master">some useful helpers</a>
    for your controllers and views.
  </p>

  <p>
    To install Unpoly in Rails, add the following line to your <code>Gemfile</code>:
  </p>

  <pre><code class="ruby">gem 'unpoly-rails'</code></pre>

  <p>Now run <code>bundle install</code> and restart your development server.</p>

  <p>Add the following line to your <code>application.js</code> manifest:</p>

  <pre><code class="javascript">//= require unpoly</code></pre>

  <p>
    Also add the following line to your <code>application.css</code> manifest:</p>
  </p>

  <pre><code class="css">/*
 *= require unpoly
 */</code></pre>

  <h3>Installing with Bootstrap integration</h3>

  <p>If you want to use Unpoly's Bootstrap integration, add the following to your <code>application.js</code> manifest <b>after requiring Bootstrap and Unpoly</b>:</p>

  <pre><code class="javascript">//= require unpoly-bootstrap5</code></pre>

  <p>
    Also add the following to your <code>application.css</code> manifest <b>after requiring Bootstrap and Unpoly</b>:
  </p>

  <pre><code class="javascript">//= require unpoly-bootstrap5</code></pre>

  <p>
    If you are using Bootstrap 4, `require unpoly-bootstrap4` instead.<br>
    If you are using Bootstrap 3, `require unpoly-bootstrap3` instead.</p>

  <h2>Roda</h2>

  <p>
    If your Roda app uses an asset bundler like Webpack, you can <a href="/install/npm">get Unpoly from npm</a>.
    You can also <a href="/install/cdn">load Unpoly from a CDN</a>.
  </p>

  <p>
    If you need the <a href="/up.protocol">optional server protocol</a> in your Roda app,
    check out the <a href="https://github.com/adam12/roda-unpoly">roda-unpoly</a> gem.
  </p>

  <h2>Rack</h2>

  <p>
    If your Rack app uses an asset bundler like Webpack, you can <a href="/install/npm">get Unpoly from npm</a>.
    You can also <a href="/install/cdn">load Unpoly from a CDN</a>.
  </p>

  <p>
    If you need the <a href="/up.protocol">optional server protocol</a> in your Rack app,
    check out the <a href="https://github.com/adam12/rack-unpoly">rack-unpoly</a> gem.
  </p>

  <%= partial 'star_prompt' %>

</div>
