<div class="node is_interface">
  <%= node_link interface.title, interface.guide_path %>

  <%= partial 'node_group', locals: { title: 'HTML', features: interface.guide_features.select { |feature| feature.selector? }.sort } %>
  <%= partial 'node_group', locals: { title: 'Events', features: interface.guide_features.select { |feature| feature.event? }.sort } %>
  <%= partial 'node_group', locals: { title: 'JavaScript', features: interface.guide_features.select { |feature| feature.function? }.sort } %>

  <%# case interface.name %>
  <%# when 'up.fragment' %>
    <%#= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.RenderResult') } %>
  <%# when 'up.form' %>
    <%#= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Params') } %>
  <%# when 'up.layer' %>
    <%#= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Layer') } %>
  <%# when 'up.network' %>
    <%#= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Request') } %>
    <%#= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Response') } %>
  <%# end %>

</div>
