<form class="search" action="#">
  <input type="text" class="search__input" placeholder="Search …" autofocus id="search" autocomplete="off">
  <i class="search__icon fa fa-search"></i>
  <span class="search__hot_key">/</span>
  <span class="search__reset">&times;</span>
  <div class="search__expand_help content_search__related">
    <span class="search__expand_key">⏎ ENTER</span> Full text search
  </div>
</form>
