<form class="search" action="#">
  <input type="text" class="search__input" placeholder="Search …" autofocus>
  <i class="search__icon fa fa-search"></i>
  <span class="search__reset">&times;</span>
  <div class="search__expand_help">
    <span class="search__expand_key">⏎ ENTER</span> Full text search
  </div>
</form>
