<% if referencer.references? %>
  <h2>See also</h2>

  <div class="prose">
    <ul>
      <% referencer.references.each do |reference| %>
        <li><%= hyperlink_to_reference(reference) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
