<h1>API</h1>

<%
  icons = {
    'up.link' => 'external-link',
    'up.modal' => 'clone',
    'up.popup' => 'comment-o',
    'up.motion' => 'play',
    'up.feedback' => 'navicon',
    'up.syntax' => 'code',
    'up.fragment' => 'puzzle-piece',



  }
%>

<% guide.promoted_interfacees.each do |interface|  %>
  <div class="interface_preview" up-expand>
    <div class="interface_preview__icon">
      <i class="fa fa-fw fa-<%= icons[interface.name] || 'code' %>"></i>
    </div>

    <div class="interface_preview__info">
      <%= content_link interface.title, interface.guide_path, class: 'interface_preview__title hyperlink' %>
      <span class="interface_preview__name"><%= interface.name %></span>
<!--      <div class="interface_preview__summary">-->
        <%#= markdown_prose(interface.summary_markdown, strip_links: true) %>
<!--      </div>-->
    </div>
  </div>
<% end %>
