DirectorySlash Off
Options -Indexes

RewriteEngine On

RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.+?)/$ /$1 [R=301,L]

RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.+?)$  /$1/index.html [L]

RedirectPermanent /up-dash /a-up-dash
RedirectPermanent /up-popup /a-up-popup
RedirectPermanent /up-modal /a-up-modal
RedirectPermanent /up-instant /a-up-instant
RedirectPermanent /up-preload /a-up-preload
RedirectPermanent /up-active /a.up-active
RedirectPermanent /up-current /up-nav-a.up-current
RedirectPermanent /a.up-current /up-nav-a.up-current
RedirectPermanent /up-autosubmit /form-up-autosubmit
RedirectPermanent /up-observe /form-up-observe
RedirectPermanent /up-validate /input-up-validate
RedirectPermanent /up-back /a-up-back
RedirectPermanent /up-switch /select-up-switch
RedirectPermanent /up-layout /up.viewport
RedirectPermanent /up.layout/config /up.viewport/config
RedirectPermanent /up.dom /up.fragment
RedirectPermanent /up.dom/config /up.fragment/config

Header set Cache-Control "max-age=0, private"

<FilesMatch "\.(css|jpg|jpeg|png|svg|gif|js|ico)$">
  Header set Cache-Control "max-age=2628000, public"
</FilesMatch>
