<% @page_title = 'Community' %>

<div class="prose">

  <h1>Community</h1>

  <h3>E-mail group</h3>

  <p>
    <a href="https://groups.google.com/forum/#!forum/unpoly/join">Join</a>
    our <a href="https://groups.google.com/group/unpoly">e-mail group</a>
    to discuss Unpoly and to get notified of new releases.
  </p>

  <p>
    Once you have joined you can <a href="https://groups.google.com/forum/#!newtopic/unpoly">post a new topic online</a>
    or by writing to <a href="mailto:unpoly@googlegroups.com">unpoly@googlegroups.com</a>.
  </p>

  <h3>Stack Overflow tag</h3>

  <p>
    Use the tag <a href="https://stackoverflow.com/questions/tagged/unpoly"><code>unpoly</code></a> when asking
    an Unpoly question on Stack Overflow. This way other users can find your message.
  </p>

  <h3>Github issues</h3>

  <p>
    When you found a bug in Unpoly,
    you can <a href="https://github.com/unpoly/unpoly/issues">file an issue on Github</a>.
    Make sure to add reproduction steps to your issue.
  </p>

  <p>
    If you have a question or want to discuss Unpoly in general, please prefer the
    <a href="https://groups.google.com/group/unpoly">e-mail group</a>
    or <a href="https://stackoverflow.com/questions/tagged/unpoly">Stack Overflow tag</a>.
  </p>


</div>