<div class="prose">

  <h1><%= page_title 'Community' %></h1>

  <h2>GitHub Discussions</h2>

  <p>
    The central hub for our community is our <a href="https://github.com/unpoly/unpoly/discussions">GitHub Discussions forum</a>.<br>
    If you have a question, idea or want to discuss Unpoly, this is the place to talk!
  </p>

  <p>
    The best way to stay up to date is to <b>watch the repository</b>.
    If you want to <b>watch discussions but not issues or pull requests</b>,
    use the <i>Custom</i> setting in the <i>Watch</i> dropdown:
  </p>

  <p>
    <%= image_tag 'images/watch_github_discussions.png', class: 'picture has_border', width: 360, alt: 'Screenshot showing how to watch Discussions only' %>
  </p>

  <!--
  <p>
    Please use the appropriate category for your posts:
  </p>

  <ul>
    <li><a href="https://github.com/unpoly/unpoly/discussions/categories/announcements">Announcements</a></li>
    <li><a href="https://github.com/unpoly/unpoly/discussions/categories/general">General</a></li>
    <li><a href="https://github.com/unpoly/unpoly/discussions/categories/ideas">Ideas</a></li>
    <li><a href="https://github.com/unpoly/unpoly/discussions/categories/q-a">Q&A</a></li>
    <li><a href="https://github.com/unpoly/unpoly/discussions/categories/show-and-tell">Show and tell</a></li>
  </ul>
  -->

  <h2>Twitter</h2>

  <p>
    Follow us on Twitter as <a href="https://twitter.com/unpolyjs">@unpolyjs</a>
    We will tweet when there is a new release or another big announcement.
  </p>

  <h2>GitHub Issues</h2>

  <p>
    When you found a bug in Unpoly,
    you can <a href="https://github.com/unpoly/unpoly/issues">file an issue on GitHub</a>.
    Make sure to add reproduction steps to your issue.
  </p>

  <p>
    If you have a question, idea or want to discuss Unpoly in general, please prefer the
    <a href="https://github.com/unpoly/unpoly/discussions/categories/q-a">Q&A category</a> on
    our <a href="https://github.com/unpoly/unpoly/discussions">GitHub Discussions forum</a>.
  </p>


</div>