<% @page_title = 'Imprint' %>

<div class="prose">

  <h1>Imprint</h1>

  <h3>Our address</h3>
  <p>
    makandra GmbH <br>
    Werner-von-Siemens-Str. 6 <br>
    86159 Augsburg <br>
    Germany
  </p>

  <h3>Contact us</h3>
  <p>
    +49 821 58866 180 <br>
    <%= mail_to 'info@makandra.de', "info@makandra.de", :class => 'hyperlink is_gray' %>
  </p>

  <h3>Commercial register court</h3>
  <p>
    Augsburg Municipal Court
  </p>

  <h3>Register number</h3>
  <p>
    HRB 24202
  </p>

  <h3>Sales tax identification number</h3>
  <p>
    DE243555898
  </p>

  <h3>Managing directors</h3>
  <p>
    Henning Koch <br>
    Thomas Eisenbarth
  </p>

</div>
