<div class="prose">

  <h1><%= page_title 'Imprint' %></h1>

  <p>
    If you have questions about the Unpoly library, please
    <a href="https://groups.google.com/group/unpoly">contact the Unpoly e-mail group</a>.
  </p>

  <p>
    If you would like to report a bug in the Unpoly library, please
    <a href="https://github.com/unpoly/unpoly/issues">file a GitHub issue</a>.
  </p>

  <h3>Matters regarding this website</h3>

  <p>
    For matters regarding this website (<a href="https://unpoly.com">https://unpoly.com</a>),
    please contact <code>site@unpoly.com</code>.
  </p>

  <p>
    Responsible for this website:
  </p>

  <address>
    Henning Koch<br>
    Reeseallee 33 ⅑<br>
    86156 Augsburg<br>
    Germany
  </address>

</div>
