<% @claim = false %>

<div class="prose">

  <h1>
    Snappy UI<br />
    for server-side web apps</h1>

  <p>
    Up.js gives your traditional web application fast-responding views
    with minimal changes to your code and development style.
  </p>

  <p>
    Start the docs:<br />
    <a href="up.link">Linking to page fragments</a>
  </p>

</div>
