<%
 guide.reload if development?
 klass = guide.klass_for_name(klass_name)
 @page_title = klass.title
%>


<h1 class="title">
  <%= klass.title %>
</h1>

<%= markdown_prose(klass.guide_markdown) %>

<% ujs_behaviors = klass.ujs_functions.reject(&:private?) %>
<% if ujs_behaviors.present? %>
  <div class="api">

    <div class="api__title">Unobtrusive behavior</div>

    <div class="api__explanation">
      Elements matching these CSS selectors will automatically
      gain useful behavior when they are added to the DOM tree.
    </div>

    <div class="api__symbols">

      <% ujs_behaviors.each do |behavior| %>
        <%= partial "symbol", locals: { symbol: behavior } %>
      <% end %>

    </div>

  </div>
<% end %>

<% js_functions = klass.js_functions.reject(&:private?) %>
<% if js_functions.present? %>
  <div class="api">

    <div class="api__title">Javascript methods</div>

    <div class="api__explanation">
      Use these methods to programmatically interact
      with Up.js from your own Javascript code.
    </div>

    <div class="api__symbols">

      <% js_functions.each do |function| %>
        <%= partial "symbol", locals: { symbol: function } %>
      <% end %>

    </div>

  </div>
<% end %>
