<%
 guide.reload if development?
 klass = guide.klass_for_name(klass_name)
 @page_title = klass.title
%>


<h1 class="title">
  <%= klass.title %>
</h1>

<%= markdown_prose(klass.guide_markdown) %>

<% if klass.ujs_functions.present? %>
  <div class="api">

    <div class="api__title">Unobtrusive selectors</div>

    <div class="api__symbols">

      <% klass.ujs_functions.each do |function| %>
        <%= partial "symbol", locals: { symbol: function } %>
      <% end %>

    </div>

  </div>
<% end %>

<% if klass.js_functions.present? %>
  <div class="api">

    <div class="api__title">Javascript methods</div>

    <div class="api__symbols">

      <% klass.js_functions.each do |function| %>
        <%= partial "symbol", locals: { symbol: function } %>
      <% end %>

    </div>

  </div>
<% end %>
