<% klass = guide.reload.klass_for_name(klass_name) %>

<div class="article">
  <%= markdown(klass.guide_markdown) %>
</div>


<% if klass.ujs_functions.present? %>
  <div class="api">
  
    <div class="api__title">Unobtrusive selectors</div>
  
    <div class="api__symbols">
  
      <% klass.ujs_functions.each do |function| %>
        <%= partial "symbol", locals: { symbol: function } %>
      <% end %>
  
    </div>
  
  </div>
<% end %>

<% if klass.js_functions.present? %>
  <div class="api">
  
    <div class="api__title">Javascript methods</div>
  
    <div class="api__symbols">
  
      <% klass.js_functions.each do |function| %>
        <%= partial "symbol", locals: { symbol: function } %>
      <% end %>
  
    </div>
  
  </div>
<% end %>

