<div class="prose">

  <h1>
    Philosophy
  </h1>

  <p>
    Unpoly is an opinionated JavaScript library.
    You should understand our philosophy to see if Unpoly
    is for you.
  </p>

  <h3>Client-side MVC is a complexity driver</h3>

  <p>
    In order to meet the demand for modern, fast-moving interfaces,
    we have pushed more and more code into the client.
    This has vastly increased the complexity of our technology stacks.
    Modern web applications have a complete MV* stack on both sides of the wire,
    which we need to understand, synchronize and maintain.
  </p>

  <p>
    We would like to reclaim some of the simplicity of
    classic server-side MVC development, while making your app
    feel more responsive and while enabling the most
    popular UI patterns you see on the web.
  </p>

  <h3>Batteries included</h3>

  <p>
    We will ship a basic implementation for the most established UI patterns like
    <a href="/up.feedback">navigation bars</a>, infinite scrolling,
    <a href="/up.popup">drop-down menus</a>, <a href="/up.modal">modals dialogs</a>,
    etc.
  </p>
  <p>
    We will split this out into a plugin architecture eventually, but not now.
  </p>

  <p>
    Our built-in UI patterns ship with commonly seen options.
    We don’t want to compromise their ease of use by providing a million hooks and switches.
    If you are missing an option, you can always roll your own code or integrate
    an existing JavaScript library.
  </p>

  <h3>Not for ambitious UIs</h3>

  <p>
    While Unpoly pushes limits of what's traditionally been possible
    with server-side web development, the paradigm <i>does</i> have limits which we
    recognize. If you want to create a very ambitious user interface,
    Unpoly is probably not the best approach.
  </p>

  <h3>Plays nice with existing JS code</h3>
  <p>
    You can <a href="/up.compiler">wire</a> your existing JS code
    into the <a href="/up.link">Unpoly page flow</a>.
  </p>

  <h3>URLs are important</h3>

  <p>
    In Unpoly every page or screen state has a URL
    which you can bookmark and share.
    This also means you get all the SEO love from Google.
  </p>

  <h3>Server-side code should stay the same</h3>

  <p>
    We want to push progressive enhancement and unobtrusive JavaScript
    to new extremes. For this we want to limit the amount of change
    required to your server-side code.
    E. g. it should not require extra controllers or views to update a page
    fragment via AJAX.
  </p>

  <h3>Both UJS and programmatic interfaces</h3>

  <p>
    All Unpoly functionality is available as both unobtrusive behavior
    (through HTML attributes like <code>up-target</code>)
    and JavaScript functions for programmatic access and integration
    with your code.
  </p>


</div>