<div class="choice">
  <a class="choice__item" href="https://unpoly.com" up-follow="false">Unpoly 3.x</a>
  <a class="choice__item" href="https://v2.unpoly.com" up-follow="false">Unpoly <%= guide.short_version %></a>
  <a class="choice__item" href="https://v1.unpoly.com" up-follow="false">Unpoly 1.x</a>
</div>
