@import environment

$breakpoint_less_info: 650px
$breakpoint_minimal_info: 300px

.about

  padding: 15px 0 15px 0
  color: white
  $color: (desaturate($COLOR_MIDNIGHT_BLUE, 10%))
  +background(linear-gradient($color - 30, $color))
  text-shadow: 0 1px 0 rgba(0,0,0,0.6)
  +box-shadow(inset 0 10px 10px rgba(0,0,0,0.3))
  //border-top: 10px solid (desaturate($COLOR_WISTERIA, 30%) - 40)
  +font_size(26px)
  font-weight: 700
  text-transform: uppercase


//.about__welcome
//  text-transform: uppercase
//  color: #777
//  +font-size(20px)
//  +vertical-margin(3px)
//  font-weight: 700
//  +tighter_than($breakpoint_minimal_info)
//    display: none    text-transform: uppercase

//

.about__product
  color: #eee
  display: inline
  margin-right: 10px

.about__claim
  color: #aaa
  display: inline
  //+tighter_than($breakpoint_minimal_info)
  //  display: none
