@import environment

.api
  //+steal-horizontal-space(20px)
  background-color: #f1f1f1
  padding: 20px
  +vertical-margin(40px)

.api__title
  +font-size(26px)
  color: #888
  margin-bottom: 10px
  font-weight: 400
  text-transform: uppercase

.api__explanation
  margin-bottom: 30px
  color: #888

