@import environment

.api
  //+steal-horizontal-space(20px)
  background-color: #f1f1f1
  padding: 20px
  +vertical-margin(20px)

.api__title
  +font-size(26px)
  color: #777
  margin-bottom: $BLOCK_SPACING
  font-weight: 400
  text-transform: uppercase
  
