@import environment

.layout
  overflow-x: hidden
  width: 100%
  background-color: #fff

.layout__head
  position: relative

.layout__body
  padding-top: 35px
  padding-bottom: 35px

.layout__tail
  +font_size(14px, 2px)
  
  background-color: $TAIL_BOTTOM_COLOR

  //$color: desaturate($COLOR_BELIZE_HOLE - 45, 40%)
  // $color: $TAIL_BOTTOM_COLOR
  // background(linear-gradient($color - 15, $color))

  color: #999
  padding-top: 17px
  //padding-bottom: 30px
  //text-shadow: 0 0 1px rgba(0,0,0,0.8)
  +clear_after
