@import environment

.symbol
  padding-bottom: $BLOCK_SPACING
  margin-bottom: $BLOCK_SPACING
  border-bottom: 4px solid #aaa

  &:last-child
    margin-bottom: 0
    padding-bottom: 0
    border-bottom: none

.symbol__signature
  font-family: 'Ubuntu Mono'
  font-size: 24px
  color: $COLOR_BELIZE_HOLE
